<% content_for :header do %>
<section class="container">
  <div>
    <div class="row">
      <h4>
        Browse the latest instruments on Flanger
      </h4>
    </div>
  </div>
</section>
<% end %>

<div class="pt4 row">
  <% @instruments.each do |instrument| %>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= link_to image_tag(instrument.image_url(:thumb),class: 'card-img-top'), instrument %>

        <% if instrument.condition? %>
          <div class="floating-badge">
            <span class="badge badge-dark"><%= instrument.condition %></span>
          </div>
        <% end %>
        


        <div class="card-body nmt">

          <h3 class="fw7 f4"><%= link_to instrument.title, instrument %></h3>

          <p class="fg pt1">Sold by <%= instrument.user.name %></p>

          <p class="f3 fw6 pt2"><%= number_to_currency(instrument.price) %></p>

          <% if instrument_author(instrument) %>
             <%= link_to 'Edit', edit_instrument_path(instrument), class: "" %>
             <%= link_to 'Delete', instrument, method: :delete, data: { confirm: "Are you sure ?" }, class: "" %>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>