<!DOCTYPE html>
<html>
  <head>
    <title>Flanger</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
    <div>
      <p><%= alert %></p>
    </div>
    <% end %>
    <nav role="navigation" class="container" aria-label="main navigation">
      <div class="row justify-content-between pb-4">
        <%= link_to root_path, class:"" do %>
          <h1>Flanger</h1>
        <% end  %>
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
          <% if total_cart_items %>
            <%= link_to cart_path(@cart), class:"nav-link" do %>
            <span>
              <i class="fa fa-shopping-cart"></i>
            </span>
            <span>Cart
              <%= cart_count_over_one %>
              </span>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to 'Sell', new_product_path, class: "btn btn-dark" %>

            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to current_user.name, edit_user_registration_path, class:"dropdown-item" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, 
                class:"dropdown-item" %>
              </div>
            </div>
          <% else %>

          <%= link_to "Sign In", new_user_session_path, class:"" %>
          <%= link_to "Sign up", new_user_registration_path, class:""%>

          <% end %>
        </nav>
      </div>
    </nav>

    

  <%= yield(:header) %>

  <div class="container">

    <%= yield %>

  </div>

  </body>
</html>
